.rodape {
    text-align: center;
    background-color: rgb(129, 94, 51);
    padding: 70px;
    box-shadow: 2px 2px 10px black inset;
}

.rodape--imagem {
    width: 150px;
    height: 200px;
}

.rodape--texto {
    color: white;
    font-family: 'Mountserrat';
    font-size: 15px;
}